body
{
    font-family: 'Kalnia', serif;
    background-color: palevioletred;
}
.heade_div
{
    background-color: lightblue ;
    color: blue;
}
.heade_div p
{
    font-family: 'Times New Roman', Times, serif;
    color: green;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: large;
}
.main_div button
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
    width: 80px;
    letter-spacing: 2px;
    font-weight: bold;
}
.copy_right_footer
{
    width: 100%;
    text-align: center;
    position: fixed;
    color: red;
    bottom: 0;
    background-color: gray;
    line-height: 40px;
    text-shadow: 8px 8px 8px yellow;
}